<!DOCTYPE html>

<html class="" lang="en">
<!--<![endif]--><!--
    generated in 10.184 seconds
    85477 bytes batcached for 300 seconds
-->

<head>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta charset="UTF-8">
    <meta content="" id="nypviewport" name="viewport">
    <style type="text/css">
#horoscope-wrapper .horoscope-module#primary .horoscope h3 {
    letter-spacing: -1px;
    }
    #horoscope-wrapper .horoscope-module#primary .horoscope .entry-content {
    height: 350px !important;
    }
    </style>
    <link href="fonts.css" rel="stylesheet" type="text/css">
    <meta content="Copyright 2014 NYP Holdings. All rights reserved." name=
    "copyright">
    <link href=
    "http://s0.wp.com/wp-content/themes/vip/nypost/static/images/apple-icons/nypost/apple-icon.png?m=1391172942g"
    rel="apple-touch-icon">
    <link href=
    "http://s0.wp.com/wp-content/themes/vip/nypost/static/images/apple-icons/nypost/apple-icon-57x57.png?m=1391172942g"
    rel="apple-touch-icon" sizes="57x57">
    <link href=
    "http://s0.wp.com/wp-content/themes/vip/nypost/static/images/apple-icons/nypost/apple-icon-114x114.png?m=1391172942g"
    rel="apple-touch-icon" sizes="114x114">
    <link href=
    "http://s0.wp.com/wp-content/themes/vip/nypost/static/images/apple-icons/nypost/apple-icon-144x144.png?m=1391172942g"
    rel="apple-touch-icon" sizes="144x144">
    <meta content="701c0e13bca342086174f2a19ed49228" name="p:domain_verify">
    <link href=
    "http://s0.wp.com/wp-content/themes/vip/nypost/static/images/favicon-nypost/favicon.ico?m=1405452510g"
    rel="shortcut icon" type="image/x-icon">

    <title>Daily Horoscope | New York Post</title>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <link href=
    "http://s0.wp.com/wp-content/themes/vip/nypost/static/images/favicon.png?m=1391172942g"
    rel="apple-touch-icon">
    <link href="http://nypost.com/horoscope/feed/" rel="alternate" title=
    "New York Post » Horoscopes Feed" type="application/rss+xml">
    <style type="text/css">
    .fancybox-margin{margin-right:15px;}
    </style>
    <link href=
    "http://s0.wp.com/wp-content/themes/vip/nypost/janrain-capture-screens/stylesheets/styles.css?m=1377912530g"
    rel="stylesheet" type="text/css">
</head>

<body class=
"archive post-type-archive post-type-archive-horoscope nypost mp6 highlander-enabled highlander-light"
data-twttr-rendered="true">
    <style type="text/css">
    .fancybox-margin{margin-right:0px;}
    </style>
    <link href=
    "http://s0.wp.com/wp-content/themes/vip/nypost/janrain-capture-screens/stylesheets/styles.css?m=1377912530g"
    rel="stylesheet" type="text/css">
    <link href=
    "http://s1.wp.com/_static/??-eJx9jt0KwjAMhV/Irv5sihfis5Q2uHRNW5aW4dubDRQGxbucc76TRC9Z2RQLxKKpqhzqCyNrJgzwznPyYMtedZb5oNu1gBOw9lCysZPa1A/HaEN1EouhneERZQF3hLGNgMOS5l3euGjTDOJTNmUlSFoGApBg/2qUr9/WOo7y7vbpkx6n/ni/DZdzP/gPpbxp1A=="
    id="all-css-0" media="all" rel="stylesheet" type="text/css">
    <link href=
    "http://s2.wp.com/_static/??/wp-content/themes/vip/nypost/static/stylesheets/mobile.css,/wp-content/mu-plugins/widgets/instagram/instagram.css?m=1411594909j"
    id="all-css-2" media="all" rel="stylesheet" type="text/css">
    <link href=
    "http://s1.wp.com/wp-content/themes/vip/nypost/static/stylesheets/screen.css?m=1411739976g"
    id="allandmin-width640px-css-2" media="all and (min-width: 640px)" rel=
    "stylesheet" type="text/css">
    <link href=
    "http://s2.wp.com/_static/??-eJx9j9EKwjAMRX/ImomF7UX8lm7EtpI2pcnw9+2YiKL0KefCPSGBCJk1LpzlDcdF5ACPYlpQzAppNYVWH1vHIxvixWnk/BXMjVysPbXiTOwbemitj9iTCovuq0GCq5v8mv0rM9b9qb/442rAhALBgieeHW2Fa7qc7DCe7TgN0/0JjsFu1Q=="
    id="all-css-4" media="all" rel="stylesheet" type="text/css">
    <link href="http://thenypost.wordpress.com/xmlrpc.php?rsd" rel="EditURI"
    title="RSD" type="application/rsd+xml">
    <meta content="WordPress.com" name="generator">
    <link href="http://thenypost.wordpress.com/?openidserver=1" rel=
    "openid.server">
    <link href="http://thenypost.wordpress.com/" rel="openid.delegate">
    <link href="http://nypost.com/osd.xml" rel="search" title="New York Post"
    type="application/opensearchdescription+xml">
    <link href="http://wordpress.com/opensearch.xml" rel="search" title=
    "WordPress.com" type="application/opensearchdescription+xml">
    <meta content="0ChYYJ_QsKnyimSC27PNRqpEJ8sstO08-2yQ81t5yfU" name=
    "google-site-verification">
    <meta content="Y35rxQGMDF8RBK0PXe_b3H0oZ6qw1a5l3oI4l_YXIcE" name=
    "google-site-verification">
    <meta content="8188997BC82071CE07AB711B5675CE54" name="msvalidate.01">
    <meta content="New York Post" name="application-name">
    <meta content="width=device-width;height=device-height" name=
    "msapplication-window">
    <meta content=
    "Your source for breaking news, news about New York, sports, business, entertainment, opinion, real estate, culture, fashion, and more."
    name="msapplication-tooltip">
    <meta content=
    "name=Subscribe;action-uri=http://nypost.com/feed/;icon-uri=http://1.gravatar.com/blavatar/5a214da64b1b66f28cbfcd6b1b352675?s=16"
    name="msapplication-task"><style id="syntaxhighlighteranchor" type=
    "text/css">
</style><!--[if lt IE 9]>
          <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js">
  </script>
    <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js">
  </script>
    <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js">
  </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js">
  </script>
  <link rel='stylesheet' id='screen-css'  href='http://s0.wp.com/wp-content/themes/vip/nypost/static/stylesheets/screen.css?m=1411739976g' type='text/css'/>
  <![endif]-->
    <style type="text/css">
.fancybox-margin{margin-right:15px;}
    </style>
    <link href=
    "http://s0.wp.com/wp-content/themes/vip/nypost/janrain-capture-screens/stylesheets/styles.css?m=1377912530g"
    rel="stylesheet" type="text/css">
    <link href=
    "http://s0.wp.com/wp-content/themes/vip/nypost/janrain-capture-screens/stylesheets/styles.css?m=1377912530g"
    rel="stylesheet" type="text/css"><style id=
    "__web-inspector-hide-shortcut-style__" type="text/css">
.__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ * { visibility: hidden !important; } .__web-inspector-hidebefore-shortcut__::before { visibility: hidden !important; } .__web-inspector-hideafter-shortcut__::after { visibility: hidden !important; }
    </style>

    <div class="dfp-ad dfp-ad-post dfp-sidecar" id="div-gpt-ad-sidecar">
        <div class="ad-wrapper"></div>
    </div>

    <ul class=
    "ui-panel ui-panel-position-right ui-panel-display-reveal ui-body-a ui-panel-animate ui-panel-closed"
    id="nav-flyovers" style="top: -30px;">
        <li class="flyover" id="search-flyover" style=
        "top: 80px; display: none;">
            <div class="nav-carat"></div>

            <div class="flyover-inner clearfix"></div>
        </li>

        <li class="flyover" id="sections-flyover" style=
        "top: 75px; display: none;">
            <div class="nav-carat"></div>

            <div class="flyover-inner">
                <div class="menu-main-menu-container">
                    <ul class="menu" id="menu-main-menu">
                        <li class=
                        "menu-item menu-item-type-taxonomy menu-item-object-section menu-item-1612774"
                        id="menu-item-1612774">
                            <a href="/news/">News</a>
                        </li>

                        <li class=
                        "menu-item menu-item-type-taxonomy menu-item-object-section menu-item-1612773"
                        id="menu-item-1612773">
                            <a href="/metro/">Metro</a>
                        </li>

                        <li class=
                        "menu-item menu-item-type-custom menu-item-object-custom menu-item-1612779"
                        id="menu-item-1612779">
                            <a href="http://pagesix.com">Page Six</a>
                        </li>

                        <li class=
                        "menu-item menu-item-type-taxonomy menu-item-object-section menu-item-1612777"
                        id="menu-item-1612777">
                            <a href="/sports/">Sports</a>
                        </li>

                        <li class=
                        "menu-item menu-item-type-taxonomy menu-item-object-section menu-item-1612768"
                        id="menu-item-1612768">
                            <a href="/business/">Business</a>
                        </li>

                        <li class=
                        "menu-item menu-item-type-taxonomy menu-item-object-section menu-item-1612775"
                        id="menu-item-1612775">
                            <a href="/opinion/">Opinion</a>
                        </li>

                        <li class=
                        "menu-item menu-item-type-taxonomy menu-item-object-section menu-item-1612769"
                        id="menu-item-1612769">
                            <a href="/entertainment/">Entertainment</a>
                        </li>

                        <li class=
                        "menu-item menu-item-type-taxonomy menu-item-object-section menu-item-1617339"
                        id="menu-item-1617339">
                            <a href="/fashion/">Fashion</a>
                        </li>

                        <li class=
                        "menu-item menu-item-type-taxonomy menu-item-object-section menu-item-1612771"
                        id="menu-item-1612771">
                            <a href="/living/">Living</a>
                        </li>

                        <li class=
                        "menu-item menu-item-type-taxonomy menu-item-object-section menu-item-1612772"
                        id="menu-item-1612772">
                            <a href="/media/">Media</a>
                        </li>

                        <li class=
                        "menu-item menu-item-type-taxonomy menu-item-object-section menu-item-1612778"
                        id="menu-item-1612778">
                            <a href="/tech/">Tech</a>
                        </li>

                        <li class=
                        "menu-item menu-item-type-taxonomy menu-item-object-section menu-item-1615324"
                        id="menu-item-1615324">
                            <a href="/real-estate/">Real Estate</a>
                        </li>
                    </ul>
                </div>

                <div class="spacer mobile"></div>
            </div>
        </li>

        <li class="flyover" id="follow-flyover" style=
        "top: 75px; display: none;">
            <div class="nav-carat"></div>

            <div class="flyover-inner">
                <ul id="nav-follow">
                    <li>
                        <a href="https://twitter.com/nypost" target=
                        "_blank"><i id="twitter-icon"></i> Twitter</a>
                    </li>

                    <li>
                        <a href="https://www.facebook.com/nypost" target=
                        "_blank"><i id="facebook-icon"></i> Facebook</a>
                    </li><!--                    <li>
                    <a href="#">
                    <i id="tumblr-icon">
                    </i>
                    Tumblr</a>
                    </li>
                                        <li>
                    <a href="#">
                    <i id="google-plus-icon">
                    </i>
                    Google &#43;</a>
                    </li>
                     -->
                </ul>
            </div>
        </li>

        <li class="flyover mobile" id="account-flyover" style="display: none;">
            <a class="capture_modal_open" href="#" id="janrain_auth">Sign in /
            Register</a>
        </li>

        <li class="flyover" id="pagesix-submit-a-tip" style="display: none;">
            <div class="nav-carat"></div>

            <div class="flyover-inner">
                <label for="pagesix-tip-text"><strong>See something
                newsworthy?</strong><br>
                Tell us about it!</label>

                <p>or email <a href=
                "mailto:tips@nypost.com">tips@nypost.com</a></p><label for=
                "tip-submit">(all tips will be submitted anonymously)</label>
            </div>
        </li>
    </ul>

    <div class=
    "ui-panel-animate ui-panel-content-wrap-closed ui-panel-content-wrap ui-panel-content-wrap-closed"
    id="content-wrapper">
        <header class="clearfix" id="page-header">
            <div id="nav-wrapper">
                <div class="container">
                    <nav id="page-nav">
                        <div class="nav-links">
                            <a class="nav-item"><span style=
                            " font-size: 30px;">Гороскоп на сегодня</span></a>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="billboard-ad" id="header-billboard-ad"></div>

            <div class="dfp-ad dfp-ad-post dfp-top" id="div-gpt-ad-top">
                <div class="ad-wrapper"></div>
            </div>
        </header>

        <div id="content">
            <div class="dfp-ad dfp-ad-post dfp-bottom" id="div-gpt-ad-bottom">
                <div class="ad-wrapper"></div>
            </div>

            <div id="background-wrapper">
                <div class="container clearfix" style=" width: 100%;">
                    <div class="dfp-ad dfp-ad-post dfp-overlay_topstory" id=
                    "div-gpt-ad-overlay_topstory" style="display: none;">
                        <div class="ad-wrapper"></div>

                        <div id=
                        "google_ads_iframe_/5850/post.desktop/overlay_topstory/horoscope/home_0__container__"
                        style="border: 0pt none;"></div>

                        <div id=
                        "google_ads_iframe_/5850/post.desktop/overlay_topstory/horoscope/home_0__container__"
                        style="border: 0pt none;"></div>
                    </div>

                    <div id="horoscope-wrapper">
                        <!-- Sidebar for Horoscope -->

                        <div class=
                        "content-area left-column landing-page horoscope-module"
                        id="primary" style=" width: 100%;">
                            <div class="site-content">
                                <div class="row">
                                    <article class="box horoscope">
                                        <header class="entry-header">
                                            <div class="sign aquarius"></div>

                                            <h3><a href="#">Водолей</a></h3>

                                            <div class="entry-meta">
                                                <p>20 января - 19 февраля</p>
                                            </div><!-- .entry-meta -->
                                        </header><!-- .entry-header -->

                                        <div class="entry-content">
                                            <p><%= @prognozes["vodoley"] %></p>
                                        </div><!-- .entry-content -->

                                        <ul class="horoscope-social">
                                            <li class="horoscope-twitter">
                                                <a href=
                                                "https://twitter.com/share?url=http%3A%2F%2Fnyp.st%2F1Bn0Maj&amp;text=Aquarius+Horoscope+for+9/28/2014&amp;related=nypost"
                                                target="_blank">Twitter</a>
                                            </li>

                                            <li class="horoscope-facebook">
                                                <a href=
                                                "http://www.facebook.com/sharer.php?s=100&amp;p[url]=http%3A%2F%2Fnyp.st%2F1Bn0Maj&amp;p[title]=Aquarius+Horoscope+for+9/28/2014"
                                                target="_blank">Facebook</a>
                                            </li>
                                        </ul>
                                    </article><!-- #post -->

                                    <article class="box horoscope">
                                        <header class="entry-header">
                                            <div class="sign pisces"></div>

                                            <h3><a href="#">Рыбы</a></h3>

                                            <div class="entry-meta">
                                                <p>19 февраля - 20 марта</p>
                                            </div><!-- .entry-meta -->
                                        </header><!-- .entry-header -->

                                        <div class="entry-content">
                                            <p><%= @prognozes["ribi"] %></p>
                                        </div><!-- .entry-content -->

                                        <ul class="horoscope-social">
                                            <li class="horoscope-twitter">
                                                <a href=
                                                "https://twitter.com/share?url=http%3A%2F%2Fnyp.st%2F1u4gQ0l&amp;text=Pisces+Horoscope+for+9/28/2014&amp;related=nypost"
                                                target="_blank">Twitter</a>
                                            </li>

                                            <li class="horoscope-facebook">
                                                <a href=
                                                "http://www.facebook.com/sharer.php?s=100&amp;p[url]=http%3A%2F%2Fnyp.st%2F1u4gQ0l&amp;p[title]=Pisces+Horoscope+for+9/28/2014"
                                                target="_blank">Facebook</a>
                                            </li>
                                        </ul>
                                    </article><!-- #post -->

                                    <article class="box horoscope">
                                        <header class="entry-header">
                                            <div class="sign aries"></div>

                                            <h3><a href="#">Овен</a></h3>

                                            <div class="entry-meta">
                                                <p>21 марта - 19 апреля</p>
                                            </div><!-- .entry-meta -->
                                        </header><!-- .entry-header -->

                                        <div class="entry-content">
                                            <p><%= @prognozes["oven"] %></p>
                                        </div><!-- .entry-content -->

                                        <ul class="horoscope-social">
                                            <li class="horoscope-twitter">
                                                <a href=
                                                "https://twitter.com/share?url=http%3A%2F%2Fnyp.st%2FYrHtQg&amp;text=Aries+Horoscope+for+9/28/2014&amp;related=nypost"
                                                target="_blank">Twitter</a>
                                            </li>

                                            <li class="horoscope-facebook">
                                                <a href=
                                                "http://www.facebook.com/sharer.php?s=100&amp;p[url]=http%3A%2F%2Fnyp.st%2FYrHtQg&amp;p[title]=Aries+Horoscope+for+9/28/2014"
                                                target="_blank">Facebook</a>
                                            </li>
                                        </ul>
                                    </article>
                                </div>

                                <div class="row">
                                    <article class="box horoscope">
                                        <header class="entry-header">
                                            <div class="sign taurus"></div>

                                            <h3><a href="#">Телец</a></h3>

                                            <div class="entry-meta">
                                                <p>20 апреля - 20 мая</p>
                                            </div><!-- .entry-meta -->
                                        </header><!-- .entry-header -->

                                        <div class="entry-content">
                                            <p><%= @prognozes["telec"] %></p>
                                        </div><!-- .entry-content -->

                                        <ul class="horoscope-social">
                                            <li class="horoscope-twitter">
                                                <a href=
                                                "https://twitter.com/share?url=http%3A%2F%2Fnyp.st%2F1t5DAsH&amp;text=Taurus+Horoscope+for+9/28/2014&amp;related=nypost"
                                                target="_blank">Twitter</a>
                                            </li>

                                            <li class="horoscope-facebook">
                                                <a href=
                                                "http://www.facebook.com/sharer.php?s=100&amp;p[url]=http%3A%2F%2Fnyp.st%2F1t5DAsH&amp;p[title]=Taurus+Horoscope+for+9/28/2014"
                                                target="_blank">Facebook</a>
                                            </li>
                                        </ul>
                                    </article>

                                    <article class="box horoscope">
                                        <header class="entry-header">
                                            <div class="sign gemini"></div>

                                            <h3><a href="#">Близнецы</a></h3>

                                            <div class="entry-meta">
                                                <p>21 мая - 20 июня</p>
                                            </div><!-- .entry-meta -->
                                        </header><!-- .entry-header -->

                                        <div class="entry-content">
                                            <p><%= @prognozes["blizneci"] %></p>
                                        </div><!-- .entry-content -->

                                        <ul class="horoscope-social">
                                            <li class="horoscope-twitter">
                                                <a href=
                                                "https://twitter.com/share?url=http%3A%2F%2Fnyp.st%2F1xqFScy&amp;text=Gemini+Horoscope+for+9/28/2014&amp;related=nypost"
                                                target="_blank">Twitter</a>
                                            </li>

                                            <li class="horoscope-facebook">
                                                <a href=
                                                "http://www.facebook.com/sharer.php?s=100&amp;p[url]=http%3A%2F%2Fnyp.st%2F1xqFScy&amp;p[title]=Gemini+Horoscope+for+9/28/2014"
                                                target="_blank">Facebook</a>
                                            </li>
                                        </ul>
                                    </article><!-- #post -->

                                    <article class="box horoscope">
                                        <header class="entry-header">
                                            <div class="sign cancer"></div>

                                            <h3><a href="#">Рак</a></h3>

                                            <div class="entry-meta">
                                                <p>21 июня - 22 июля</p>
                                            </div><!-- .entry-meta -->
                                        </header><!-- .entry-header -->

                                        <div class="entry-content">
                                            <p><%= @prognozes["rak"] %></p>
                                        </div><!-- .entry-content -->

                                        <ul class="horoscope-social">
                                            <li class="horoscope-twitter">
                                                <a href=
                                                "https://twitter.com/share?url=http%3A%2F%2Fnyp.st%2FYt84MC&amp;text=Cancer+Horoscope+for+9/28/2014&amp;related=nypost"
                                                target="_blank">Twitter</a>
                                            </li>

                                            <li class="horoscope-facebook">
                                                <a href=
                                                "http://www.facebook.com/sharer.php?s=100&amp;p[url]=http%3A%2F%2Fnyp.st%2FYt84MC&amp;p[title]=Cancer+Horoscope+for+9/28/2014"
                                                target="_blank">Facebook</a>
                                            </li>
                                        </ul>
                                    </article><!-- #post -->
                                </div>

                                <div class="row">
                                    <article class="box horoscope">
                                        <header class="entry-header">
                                            <div class="sign leo"></div>

                                            <h3><a href="#">Лев</a></h3>

                                            <div class="entry-meta">
                                                <p>23 июля - 22 августа</p>
                                            </div><!-- .entry-meta -->
                                        </header><!-- .entry-header -->

                                        <div class="entry-content">
                                            <p><%= @prognozes["lev"] %></p>
                                        </div><!-- .entry-content -->

                                        <ul class="horoscope-social">
                                            <li class="horoscope-twitter">
                                                <a href=
                                                "https://twitter.com/share?url=http%3A%2F%2Fnyp.st%2F1yvahrQ&amp;text=Leo+Horoscope+for+9/28/2014&amp;related=nypost"
                                                target="_blank">Twitter</a>
                                            </li>

                                            <li class="horoscope-facebook">
                                                <a href=
                                                "http://www.facebook.com/sharer.php?s=100&amp;p[url]=http%3A%2F%2Fnyp.st%2F1yvahrQ&amp;p[title]=Leo+Horoscope+for+9/28/2014"
                                                target="_blank">Facebook</a>
                                            </li>
                                        </ul>
                                    </article><!-- #post -->

                                    <article class="box horoscope">
                                        <header class="entry-header">
                                            <div class="sign virgo"></div>

                                            <h3><a href="#">Дева</a></h3>

                                            <div class="entry-meta">
                                                <p>23 августа - 22 сентября</p>
                                            </div><!-- .entry-meta -->
                                        </header><!-- .entry-header -->

                                        <div class="entry-content">
                                            <p><%= @prognozes["deva"] %></p>
                                        </div><!-- .entry-content -->

                                        <ul class="horoscope-social">
                                            <li class="horoscope-twitter">
                                                <a href=
                                                "https://twitter.com/share?url=http%3A%2F%2Fnyp.st%2F1sDxrJU&amp;text=Virgo+Horoscope+for+9/28/2014&amp;related=nypost"
                                                target="_blank">Twitter</a>
                                            </li>

                                            <li class="horoscope-facebook">
                                                <a href=
                                                "http://www.facebook.com/sharer.php?s=100&amp;p[url]=http%3A%2F%2Fnyp.st%2F1sDxrJU&amp;p[title]=Virgo+Horoscope+for+9/28/2014"
                                                target="_blank">Facebook</a>
                                            </li>
                                        </ul>
                                    </article><!-- #post -->

                                    <article class="box horoscope">
                                        <header class="entry-header">
                                            <div class="sign libra"></div>

                                            <h3><a href="#">Весы</a></h3>

                                            <div class="entry-meta">
                                                <p>23 сентября - 22 октября</p>
                                            </div><!-- .entry-meta -->
                                        </header><!-- .entry-header -->

                                        <div class="entry-content">
                                            <p><%= @prognozes["vesi"] %></p>
                                        </div><!-- .entry-content -->

                                        <ul class="horoscope-social">
                                            <li class="horoscope-twitter">
                                                <a href=
                                                "https://twitter.com/share?url=http%3A%2F%2Fnyp.st%2F1Cw2MPZ&amp;text=Libra+Horoscope+for+9/28/2014&amp;related=nypost"
                                                target="_blank">Twitter</a>
                                            </li>

                                            <li class="horoscope-facebook">
                                                <a href=
                                                "http://www.facebook.com/sharer.php?s=100&amp;p[url]=http%3A%2F%2Fnyp.st%2F1Cw2MPZ&amp;p[title]=Libra+Horoscope+for+9/28/2014"
                                                target="_blank">Facebook</a>
                                            </li>
                                        </ul>
                                    </article>
                                </div>

                                <div class="row">
                                    <article class="box horoscope">
                                        <header class="entry-header">
                                            <div class="sign scorpio"></div>

                                            <h3><a href="#">Скорпион</a></h3>

                                            <div class="entry-meta">
                                                <p>23 октября - 21 ноября</p>
                                            </div><!-- .entry-meta -->
                                        </header><!-- .entry-header -->

                                        <div class="entry-content">
                                            <p><%= @prognozes["skorpion"] %></p>
                                        </div><!-- .entry-content -->

                                        <ul class="horoscope-social">
                                            <li class="horoscope-twitter">
                                                <a href=
                                                "https://twitter.com/share?url=http%3A%2F%2Fnyp.st%2F1mBPahY&amp;text=Scorpio+Horoscope+for+9/28/2014&amp;related=nypost"
                                                target="_blank">Twitter</a>
                                            </li>

                                            <li class="horoscope-facebook">
                                                <a href=
                                                "http://www.facebook.com/sharer.php?s=100&amp;p[url]=http%3A%2F%2Fnyp.st%2F1mBPahY&amp;p[title]=Scorpio+Horoscope+for+9/28/2014"
                                                target="_blank">Facebook</a>
                                            </li>
                                        </ul>
                                    </article>

                                    <article class="box horoscope">
                                        <header class="entry-header">
                                            <div class="sign sagittarius">
                                            </div>

                                            <h3><a href="#">Стрелец</a></h3>

                                            <div class="entry-meta">
                                                <p>22 ноября - 21 декабря</p>
                                            </div><!-- .entry-meta -->
                                        </header><!-- .entry-header -->

                                        <div class="entry-content">
                                            <p><%= @prognozes["strelec"] %></p>
                                        </div><!-- .entry-content -->

                                        <ul class="horoscope-social">
                                            <li class="horoscope-twitter">
                                                <a href=
                                                "https://twitter.com/share?url=http%3A%2F%2Fnyp.st%2F1uRhQCP&amp;text=Sagittarius+Horoscope+for+9/28/2014&amp;related=nypost"
                                                target="_blank">Twitter</a>
                                            </li>

                                            <li class="horoscope-facebook">
                                                <a href=
                                                "http://www.facebook.com/sharer.php?s=100&amp;p[url]=http%3A%2F%2Fnyp.st%2F1uRhQCP&amp;p[title]=Sagittarius+Horoscope+for+9/28/2014"
                                                target="_blank">Facebook</a>
                                            </li>
                                        </ul>
                                    </article><!-- #post -->

                                    <article class="box horoscope">
                                        <header class="entry-header">
                                            <div class="sign capricorn"></div>

                                            <h3><a href="#">Козерог</a></h3>

                                            <div class="entry-meta">
                                                <p>22 декабря - 19 января</p>
                                            </div><!-- .entry-meta -->
                                        </header><!-- .entry-header -->

                                        <div class="entry-content">
                                            <p><%= @prognozes["kozerog"] %></p>
                                        </div><!-- .entry-content -->

                                        <ul class="horoscope-social">
                                            <li class="horoscope-twitter">
                                                <a href=
                                                "https://twitter.com/share?url=http%3A%2F%2Fnyp.st%2F1xqFJpt&amp;text=Capricorn+Horoscope+for+9/28/2014&amp;related=nypost"
                                                target="_blank">Twitter</a>
                                            </li>

                                            <li class="horoscope-facebook">
                                                <a href=
                                                "http://www.facebook.com/sharer.php?s=100&amp;p[url]=http%3A%2F%2Fnyp.st%2F1xqFJpt&amp;p[title]=Capricorn+Horoscope+for+9/28/2014"
                                                target="_blank">Facebook</a>
                                            </li>
                                        </ul>
                                    </article><!-- #post -->
                                </div><!-- .row -->
                            </div><!-- #content -->
                        </div><!-- #primary -->
                    </div>
                </div><!-- /container -->
            </div><!-- /background-wrapper -->
        </div><!-- /content -->
    </div><!-- /content-wrapper -->
    <!-- START Parse.ly Include: Standard -->

    <div id="parsely-root" style="display: none">
        <div data-parsely-site="nypost.com" id="parsely-cfg"></div>
    </div><!--END SAILTHRU CODE-->
    <!-- START IFRAME : below is Opt In Smart Pixel (Nonsecure) for SailThru -->
    <!-- END IFRAME -->

    <div class="hide"></div><!-- /.hide -->
</body>
</html>